
/* Top box size/spacing set to the birder of the box for the top */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 /* bottom half (body) bg color set to white */
body {
    background-color: #ffffff;
}


/* Everything at the very top of the page and menu items */
header {
    padding: 20px;
    /* adding space around text elements*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* preset font for Horiseon */
    background-color: #2a607c;
    /* Bg color for header area */
    color: #ffffff;
    /* color for "Hori___n */
}

/* keeping all elements in the header to be positioned inline 
    and set the font for Horiseon to 48px 
    while applyings styling rules from .header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* making the "seo" part a seperate color 
    but applying styling rules from .header h1 outside of its color*/
header h1 .seo {
    color: hsl(90, 8%, 85%);
}

/* Styling for the list items and their positioning in the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This isn't doing anything noticeable */
header nav ul {
    list-style-type: none;
}

/* List items stay in alignment with each other 
    and to left 20px */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Keeps the text white and no underline on hyperlink */
a {
    color: #ffffff;
    text-decoration: none;
}

/* All text in the paragraphs are 16px */
p {
    font-size: 16px;
}

/* The biggest image styling properties 
    */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
}

/* adding fig caption elements */

figure {
    color: rgb(255, 255, 255);
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 350px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
}

/* The  body image is applying 
properties to float on the page to the left or right
and margin space from the text 25px*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The styling properties for the blue boxes on the left */
.main-info {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits is styling applied to the blue box right sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* Help: don't see what clear is doing */
    float: right;
    width: 20%;
    height: 100%;
    /* Help: Not seeing what this is doing*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
 /* spacing from elements below and text color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* We don't need all this, I can just apply .benefit-lead to leab, brand, & cost" */
/*
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */


.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* We don't need all this, 
.benefit-lead h3 is already applied to the eachto leab, brand, & cost" */
/*
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

.benefit-lead img {
    display: block;
    margin: auto;
    max-width: 150px;
}

/* We don't need all this, I can just apply ".benefit-lead img" to lead, brand, & cost" */
/*
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* We don't need all this, I can just apply "search-engine-optimization" */
/*
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

.search-engine-optimization img {
    max-height: 200px;
}
 

/* We don't need all this, I can just apply "search-engine-optimization" */
/*
.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

*/

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* We don't need all this, I can just apply "search-engine-optimization" */
/*
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* footer proberties with references to the company */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
